{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="static/style.css">
<script src="../static/echarts.min.js"></script>
{% endblock %}

{% block title %}
quiz 1 | {{title}}
{% endblock %}

{% block navbar %}

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">Quiz 1 | Fu Yi | 92151</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{url_for('part10')}}" class="nav-link {{part10_active}}"
                    aria-current="page">part10a
                </a>
            </li>
            <li class="nav-item"><a href="{{url_for('part11')}}" class="nav-link {{part11_active}}">part10b</a></li>
            <li class="nav-item"><a href="{{url_for('part12')}}" class="nav-link {{part12_active}}">part11a</a></li>
            <!-- <li class="nav-item"><a href="{{url_for('part14')}}" class="nav-link {{part14_active}}">part12.5</a></li> -->
            <li class="nav-item"><a href="{{url_for('part13')}}" class="nav-link {{part13_active}}">part12</a></li>
           
        </ul>
    </header>
</div>
{% endblock %}

{% block content %}
{% block app_content %}
{% endblock %}
</div>
{% endblock %}