{% extends "base.html" %}


{% block app_content %}
<script src="http://d3js.org/d3.v7.min.js" charset="uft-8"></script>
<div  id="view010702" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <svg width="1000" height="400">
        {% if data%}
        <!-- {% if frults %} -->
        {% for i in range(6) %}
        <!-- <h3>{{frults[i]}}</h3> -->
        <rect x={{i*60}} y={{400-data[i]*20}} height={{data[i]*20}}  width="50 " fill="blue" ></rect>
        {% endfor %}
        {% endif %}
        <!-- {% endif %} -->
    </svg>
    <svg width="1000" height="600">
        {% if data2 %}
        {% for i in range(8) %}
        <!-- <h3>store{{i+1}}</h3> -->
        <rect x="0" y={{600+i*30}} height="25"   width={{data2[i]*20}} fill="blue" ></rect>
        {% endfor %}
       
        {% endif %}
    </svg>
</div>
<script type="text/javascript">
    // data = [120, 140, 150, 180]  // define width is array
    // svg = d3.select('#view010702')
    //     .append('svg');
    // chart = svg.selectAll('rect')
    //     .data(data).enter()
    //     .append('rect')
    //     .attr('x', 0)
    //     .attr('y', function(d,i) {return i * 30})
    //     .attr('width', function(d) {return d})
    //     .attr('height', 25)

    // // After creating basic barchart
    // svg.selectAll("text")
    //     .data(data)
    //     .enter()
    //     .append("text")
    //     .text(function(d) {return d})
    //     .attr("y", function(d,i) {return i*30 + 20})
    //     .attr("x", function(d) {return d})
    //     .attr("fill","steelblue")


</script>
{% endblock %}