{% extends "base.html" %}

{% block app_content %}
<div
    style="width: 100%; display: flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;">
    <svg>
        {% for i in range(6) %}
        <rect x="0" y={{i*30}} height="25"  width={{data[i]*20}} color="blue" >{{frults[i]}}</rect>
        {% endfor %}
        <!-- <rect x="0" y="0"  width="120" height="25"/>
        <rect x="0" y="30" width="140" height="25"/>
        <rect x="0" y="60" width="150" height="25"/>
        <rect x="0" y="90" width="180" height="25"/> -->
    </svg>

    <!-- {% if data %}
    <table class="table table-striped table-bordered table-hover table-condensed" style="width: 60%; margin:auto">
        <tr>
            <th>Num</th>
            <th>time</th>
            <th>place</th>
        </tr>
        {% for pic in data %}
        <tr>
            <td>{{ pic.num}}</td>
            <td>{{ pic.time }}</td>
            <td>{{ pic.place }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %} -->
</div>
{% endblock %}