{% extends "base.html" %}

{% block app_content %}
<div
    style="width: 100%; display: flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;">
    <svg>
        {% if data%}
        {% for i in range(8) %}
        <h3>store{{i+1}}</h3>
        <rect x="0" y={{i*30}} height="25"   width={{data[i]*20}} fill="blue" ></rect>
        {% endfor %}
       
        {% endif %}
    </svg>

    <!-- {% if data %}
    <table class="table table-striped table-bordered table-hover table-condensed" style="width: 60%; margin:auto">
        <tr>
            <th>Num</th>
            <th>time</th>
            <th>place</th>
        </tr>
        {% for pic in data %}
        <tr>
            <td>{{ pic.num}}</td>
            <td>{{ pic.time }}</td>
            <td>{{ pic.place }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %} -->
</div>
{% endblock %}